# Web framework and server
fastapi==0.117.1
uvicorn[standard]==0.36.0

# Data validation
pydantic==2.11.9

# Testing
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0

# HTTP clients
httpx==0.28.1
requests==2.32.5

# Data science libraries
pandas==2.3.2
numpy==2.3.3
scikit-learn==1.7.2

# Other utilities
python-multipart==0.0.20

# Linting
flake8==7.1.1

# DVC
dvc[s3]==3.55.2
